:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #535353;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar {
  position: fixed;
  top: 20px;
  left: 50%;

  transform: translateX(-50%) scale(.98);
  transition: all 0.2s ease;

  z-index: 4;

  display: inline-flex;
  align-items: center;

  background: rgba(20, 20, 60, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);

  border-radius: 9999px;

  padding: 12px 30px;

  overflow: hidden;
}

.navbar:hover {
  transform: translateX(-50%) scale(1);
}

/* glass gradient */
.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );

  pointer-events: none;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  font-weight: 600;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.9);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  min-height: 100vh;
  position: relative;

  background:
    linear-gradient(
      to right,
      rgb(195, 210, 255) 0%,
      rgb(255, 255, 255) 40%,
      rgb(255, 255, 255) 60%,
      rgb(195, 210, 255) 100%
    );
  
    z-index: 0;
    font-family: "Poppins", sans-serif;
    color: black;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  z-index: -1;

  background: url("./assets/bg-pattern.png") repeat-y top center;
  background-size: 100vw auto;

  -webkit-mask-image: linear-gradient(
  to right,
  rgba(0, 0, 0, .2) 0%,
  rgba(0, 0, 0, 0) 20%,
  rgba(0, 0, 0, 0) 80%,
  rgba(0, 0, 0, .2) 100%
  );

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, .2) 0%,
  rgba(0, 0, 0, 0) 20%,
  rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, .2) 100%
  );

  mix-blend-mode:luminosity;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary-button {
  padding: 14px 28px;
  font-size: 30px;
  font-weight: 400;

  background-color: #0f172a;
  color: white;

  border: none;
  border-radius: 999px;

  cursor: pointer;
  transition: all 0.2s ease;

  box-shadow: 0 8px 30px rgb(0, 0, 0);
}

.primary-button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.icon-button {
  height: 65px;
  aspect-ratio: 1 / 1;
  background-color: whitesmoke;
  border: none;
  border-radius: 999px;

  cursor: pointer;
  transition: all 0.2s ease;

  box-shadow: 0 2px 15px rgb(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon-button:hover {
  background-color: white;
  transform: translateY(-2px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  scroll-behavior: smooth;
}

.fullscreen-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;  
  flex-direction: column;
  padding-top: 60px;
  transform: scale(0.98);
  transition: transform 0.6s ease;
}

.fullscreen-section:hover{
  transform: scale(1);
}

.headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  outline-width: 8px;
  outline-style: solid;
  outline-color: #1a1a1a80;
  box-shadow: 0 8px 30px rgb(0, 0, 0);
}

.home-title{
  margin: 0 0 24px 0;
  font-size: 56px;
  font-weight: 800;
}

.home-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  max-width: 1000px;
  width: 100%;
  padding: 0 24px;
}

.home-text{
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  max-width: 1200px;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 500;
}

.about-row{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 24px;

  max-width: 1500px;
  width: 100%;
  padding: 0 24px;
}

.about-text{
  max-width: 1000px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
}

.about-graphic{
  width: 600px;
  height: 600px
}

.project-element{
  width: 1100px;
  height: 450px;

  background: linear-gradient(
    to right,
    rgb(235, 235, 235, .2) 0%,
    rgba(197, 255, 200, 0.2) 100%
  );

  border: none;
  border-radius: 20px;

  box-shadow: 0 2px 15px rgb(0, 0, 0, .5);

  margin-top: 40px;
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  transform: scale(.99);
  transition: all 0.2s ease;

  overflow: hidden;
}

.project-element:hover{
  transform: scale(1);
  background: linear-gradient(
    to right,
    rgba(191, 191, 191, 0.2) 0%,
    rgba(155, 200, 157, 0.2) 100%
  );  
}

.project-image {
  width: 400px;
  height: 250px;
  box-shadow: 0 2px 15px rgb(0, 0, 0, .3);
  border: none;
  border-radius: 40px;

  transition: transform 0.3s ease;
  transform: rotate(1deg);
}

.project-element:hover .project-image {
  transform: scale(1.08) rotate(2deg) ;
}

.project-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 

  height: 100%;

  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
}

.project-skill {
  background: rgba(20, 20, 60, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
  color: white;
  border-radius: 9999px;
  font-size: 20px;

  display: inline-block;
  padding: 5px 12px;
  margin: 6px 8px 6px 0;
}

.project-row {
  display: flex;
}

.project-element:nth-child(even) .project-row {
  flex-direction: row-reverse;
}

.project-element:nth-child(even){
  transform: translateX(50px);
}

.project-element:nth-child(odd){
  transform: translateX(-50px);
}

.skill {
  height: fit-content;
  width: fit-content;

  background: rgba(20, 20, 60, 0.5);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);

  color: white;
  font-size: 30px;
  font-weight: 500;

  border-radius: 20px;

  padding: 12px 30px;
  transition: transform 0.2s ease;
}

.skill:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.timeline {
  position: relative;
  margin-top: 60px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #d0d3e2;
}

.timeline-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 60px;
}

.timeline-marker {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.2rem;
}

.timeline-content h4 {
  margin: 4px 0;
  font-weight: 500;
  opacity: 0.8;
}

.period {
  font-size: 0.85rem;
  opacity: 0.6;
}

.timeline-content p {
  margin-top: 12px;
}

.footer {
  padding: 60px 20px;
  text-align: center;
  color: #4b5563;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 8px 0;
  text-align: center
}

.copyright {
  font-size: 1rem;
  font-weight: 500;
}

.builtWith {
  font-size: 0.95rem;
  max-width: 800px;
  margin: 10px auto 0;
  line-height: 1.6;
  text-align: center;
}

.emailLink {
  font-weight: 600;
  text-decoration-thickness: 2px;
}

.emailLink:hover {
  opacity: 0.7;
}